/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 20px;
  background-color: aquamarine; }

a {
  display: inline-block;
  text-decoration: none;
  color: black; }

input,
textarea,
select {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0; }
  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    padding-left: 1rem; }

.flex {
  display: flex; }

.flex-vertical {
  flex-direction: column; }

.flex-50 {
  flex: 0 1 48%;
  margin: 1%; }

.flex-45 {
  margin: 1%; }

.flex-25 {
  flex: 0 1 25%; }

.flex-75 {
  flex: 0 1 75%; }

.jsb {
  justify-content: space-between; }

.center-center {
  justify-content: center;
  align-items: center; }
  .center-center > * {
    margin-right: 2rem; }

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10px; }

.btn-pri {
  background-color: #31a05b;
  color: white; }

.btn-sec {
  background-color: #9b3546;
  color: white; }

.btn-ter {
  background-color: #5e5c5c;
  color: white; }

.sec-padding {
  padding: 3rem 0; }

.container {
  max-width: 800px;
  margin: 0 auto; }

.tac {
  text-align: center; }

h1 {
  font-size: 2.8rem;
  font-weight: 800; }

h2 {
  font-size: 2.5rem;
  font-weight: 800; }

h3 {
  font-size: 2rem;
  font-weight: 600; }

h4 {
  font-size: 1.7rem;
  font-weight: 500; }

h5 {
  font-size: 1.5rem;
  font-weight: 600; }

h6 {
  font-size: 1.2rem;
  font-weight: 600; }

p {
  font-size: 1.3rem;
  color: #4b4a4a; }

.text-center {
  text-align: center; }

.mb-1 {
  margin-bottom: 1rem; }

.color-pri {
  color: #31a05b; }

.color-sec {
  color: #9b3546; }

header {
  background-color: #181944;
  padding: 2rem 0; }
  header strong {
    font-size: 2rem;
    font-weight: 800;
    color: goldenrod; }

.hero-sec h1 {
  text-align: center; }

.about-sec {
  text-align: center; }

.listbtn-div {
  text-align: center; }
  .listbtn-div h5 {
    margin-bottom: 1rem; }

.eventCreate-sec form {
  max-width: 40%;
  margin: 0 auto;
  background-color: rgba(192, 116, 116, 0.548);
  padding: 2rem; }

.event-div {
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid black;
  box-shadow: 4px 4px 4px gray;
  margin-bottom: 1rem; }

.eventDetails-div .flex-50 > * {
  margin-bottom: 1rem; }

.eventDetails-div .right span {
  text-decoration: underline;
  color: #8d7171; }

.eventDetails-div .likes-div span {
  color: red;
  padding: 0.5rem;
  border: 1px dashed blue; }

.eventDetails-div .likes-div a {
  margin-left: 1rem; }

.eventDetails-div .likes-div i {
  margin-right: 1rem; }

.eventDetails-div .categories-div a {
  margin: 0 0.5rem; }

.commentForm-sec form {
  border: 1px solid gray;
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
  background-color: wheat; }

.remarkList-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem; }
  .remarkList-container .remark-div {
    margin: 0.5rem 0;
    border-bottom: 1px solid gray;
    padding: 1rem; }
    .remarkList-container .remark-div .left > * {
      padding: 0.5rem 0; }
    .remarkList-container .remark-div .right i {
      margin-right: 1rem; }
    .remarkList-container .remark-div .right > * {
      margin-bottom: 2rem; }

aside {
  border: 1px solid black;
  min-height: 100vh;
  width: 100%;
  background-color: #5e9296; }
  aside h4 {
    text-align: center;
    padding: 2rem 0; }
  aside .allTags-div {
    flex-wrap: wrap;
    padding: 1rem; }

/*# sourceMappingURL=style.css.map */