<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex jsb container">
        <strong>Event Management</strong>
        <a href="/events/" class="btn btn-pri">list of Events</a>
      </div>
    </header>
    <main>
      <section class="hero-sec sec-padding">
        <div class="container">
          <h1>Welcome to Event-Management App</h1>
        </div>
        <div class="flex center-center sec-padding">
          <img
            src="/images/event1.jpg"
            alt="event1"
            height="400px"
            width="600px"
          />
        </div>
      </section>
      <section class="about-sec sec-padding">
        <div>
          <p>
            This App is made using MongoDB and expressJS to manage the events.
          </p>
        </div>
      </section>
      <section class="sec-padding">
        <div class="sec-padding listbtn-div">
          <h5>Click Here to Get list of all Events</h5>
          <a href="/events/" class="btn btn-sec">Get List</a>
        </div>
      </section>
    </main>
  </body>
</html>
